@tailwind base;
  @tailwind components;
  @tailwind utilities;





@layer base {
  :root {
    /* Custom Colors */
    --text: 300 11% 7%; /* Updated */
    --background: 288 33% 97%; /* Updated */
    --primary: 292 45% 54%; /* Updated */
    --secondary: 292 61% 71%; /* Updated */
    --accent: 292 77% 64%; /* Updated */

    /* UI System Colors */
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary-foreground: 210 40% 98%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --swiper-theme-color: 292 45% 54% !important;
  }

  .dark {
    /* Custom Dark Mode Colors */
    --text: 300 11% 93%; /* Updated */
    --background: 288 33% 3%; /* Updated */
    --primary: 292 45% 46%; /* Updated */
    --secondary: 292 61% 29%; /* Updated */
    --accent: 292 77% 36%; /* Updated */

    /* UI System Colors */
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }


.swiper-pagination {
  display: block !important;
}
@media (min-width: 1024px) { /* Large screens and above */
  .swiper-pagination {
    display: none !important;
  }
}
/* Navigation hidden on small screens, visible on large screens */
.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}
@media (min-width: 1024px) { /* Large screens and above */
  .swiper-button-next,
  .swiper-button-prev {
    display: block !important;
  }
}

/* laoding animation */
/* HTML: <div class="loader"></div> */
.loader {
  width: 120px;
  height: 60px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background: #fff;
  filter: blur(5px) contrast(10) hue-rotate(60deg);
  mix-blend-mode: darken;
}
.loader:before,
.loader:after {
  content: "";
  width: 40px;
  border-radius: 50%;
  background: #ff00ff;
  animation: l3 1s infinite alternate;
}
.loader:after {
  --s:-1;
}
@keyframes l3{
  90%,100% {transform: translate(calc(var(--s,1)*30px))}
}